<template name="generatedFiles">
  {{#each files}}
  <div class="generatedFile">
    {{#momentum plugin="fade"}}
    <div class="row">
      <div class="bs-component">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">PDF généré !</h3>
          </div>
          <div class="panel-body">

            <div>
              Nom : {{name}}
              <br /> Taille : {{size}} octets
            </div>
            <a class="generatedPDFLink" name={{name}}>
              Ouvrir le PDF
            </a>

          </div>
        </div>
      </div>
    </div>
    {{/momentum}}
  </div>
  {{/each}}
</template>
