<template name="form">
  <div class="row">
    <form class="generatePDF well bs-component form-horizontal">
      <fieldset>
          <legend>Données du PDF</legend>
            {{> upload}}
            	{{#autoForm id="templateSelect" schema=templatesOptions}}
    			       {{> afQuickFields id="templatedd"}}
    			    {{/autoForm}}
  			    {{#each formSchema}} {{> formField}} {{/each}}
              <div class="row form-group is-empty">
          <button class="generatePDFb btn btn-primary" type="submit">
            Generate PDF
          </button>
          {{#if isTemplateSelected}}
          <button class="deleteBtn btn btn-primary">
            Delete template
          </button>
          {{/if}}
        </div>

      </fieldset>
    </form>
  </div>
</template>
